<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form (ngSubmit)="onCreateFriend(f)" #f="ngForm">
        <div class="form-group">
          <label for="name">Login</label>
          <input type="text" id="login" name="login" class="form-control" ngModel required>
        </div>
        <div class="form-group">
          <label for="name">Password</label>
          <input type="password" id="password" name="password" class="form-control" ngModel required>
        </div>
        <div class="form-group">
          <label for="name">Nom</label>
          <input type="text" id="nom" name="nom" class="form-control" ngModel required>
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" id="age" name="age" min="1" max="200" class="form-control" ngModel required>
        </div>
        <div class="form-group">
            <label for="famille">Famille</label>
            <input type="text" id="famille" name="famille" class="form-control" ngModel required>
        </div>
        <div class="form-group">
            <label for="race">Race</label>
            <input type="text" id="race" name="race" class="form-control" ngModel required>
        </div>
        <div class="form-group">
          <label for="nourriture">Nourriture</label>
          <input type="text" id="nourriture" name="nourriture" class="form-control" ngModel required>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enregistrer</button>
      </form>
    </div>
  </div>