<div>
  <h2>Mes amis</h2>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Age</th>
            <th scope="col">Famille</th>
            <th scope="col">Race</th>
            <th scope="col">Nourriture</th>
            <th scope="col">Opérations</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pangolin of liste; let i = index">
            <td>{{ pangolin['nom'] }}</td>
            <td>{{ pangolin['age'] }}</td>
            <td>{{ pangolin['famille'] }}</td>
            <td>{{ pangolin['race'] }}</td>
            <td>{{ pangolin['nourriture'] }}</td>
            <td>
                <button (click)="removePangolin(i)">Retirer des amis</button>
            </td>
          </tr>
        </tbody>
    </table>
</div>